<%- include  ../partials/header.ejs %>



<%- include  ../partials/main_nav.ejs %>



<main class = "container">
<div class="jumbotron">
  <h1 class="display-4"> <img src="Assets\images\Siddarth_Sundarajan.jpg" width="300" alt=""> About Me</h1>

  <p class="text-white bg-dark"> Siddarth Sundarajan </p>
</div>

<div class="jumbotron">
<p> Myself Siddarth Sundarajan and I am from Tamil Nadu, the Southern part of India. I am a B. Tech graduate in Computer Science And Engineering,
currently pursuing my Post graduate degree on Software engineering technology in Centennial College, Ontario Canada.</p>
<p>The reason to get into centennial college is to attain a highly qualified education in my respected field and to have a social contact
with the outside world.</p>
<p>I usually spend my leisure time by listening to some good music, and I used to cook during that time.</p>
<p>In future I would like to see myself as a higly qualified technical programmer and I find this course to be very helpful in achieving that.</p>

<p><a href= "Assets\images\docs\Sid Resume.docx" download> Tap here to have a look at my Resume </a></p>

<center><a href = "/home" right> Previous </a></p><p><a href = "/projects"> Next</a></p></center>

</main>

<%- include  ../partials/bottom_nav.ejs %>


<%- include  ../partials/footer.ejs %> 