<%- include  ../partials/header.ejs %>



<%- include  ../partials/main_nav.ejs %>



<main class = "container">
<div class="jumbotron">
  <h1 class="display-4"> <img src="Assets\images\Network.jpg" width="300" alt=""></h1>
  <p class="text-white bg-dark"> Traffic Management Using Networking </p>
  <p> My first project was a mini project, and I did it when I was in my third year of my bachelors degree. This project was
  totally based on the deep concepts of neural networks, and the root cause of this project is our traffic condition.</p>
  <p> The outline of this project is make a automated control over the traffic system across the world. Here we are using SEN0160 weight sensor
  just to calculate the weight of the road in which the vehicles pass by during the traffic, according to the weight of the road the traffic signal 
  will open.</p>
  <p> This was the only paper to have a unique idea and even got a IEEE standard and I was allowed publish it as a IEEE paper.</p>  
  </div>


  <div class="jumbotron">
  <h1 class="display-4"> <img src="Assets\images\Aspect Mining.jpg" width="300" alt=""></h1>
  <p class="text-white bg-dark"> Aspect and Opinion Mining </p>
  <p> The aspect and opinion mining project was my final year, and we did it as a team myself and a very close friend of mine Mr. Mohammed. This project was
  was a core project related to data analytics and data handling. In this project we have handled a huge amount of data, analyzed and derived a solution based
  on how people react to a particular product launched in the market.</p>
  <p> To explain in short, we took the youtube comments as our data, if a new is going to be launched it should have a preview or a trailer for it,
  so we took the comments people gave for that trailer and used the aspect and opinion mining concept to analyze the emotions or reactions
  of that particular product. </p>
  <p> Our project was shortlisted in the top 3 projects of our University and got second place.</p>  
  </div>

  <div class="jumbotron">
  <h1 class="display-4"> <img src="Assets\images\Big data.jpeg" width="300" alt=""></h1>
  <p class="text-white bg-dark"> Data Analytics using R-Tool </p>
  <p>This was my another which i did during my internship in a reputed company. In this project I was asked to handle a given set of data
  and to have deep analyzes using the R-tool, and finally to give a sensible report about the data.</p>
  <p>I was given access to their private data resources which is a highly confidential one, It was a stand-alone project, I am the only person 
  took the project to a designated level and was able to complete it on time.</p>
  <p></p>

  <center><a href = "/aboutme" right> Previous </a></p><p><a href = "/services"> Next</a></p></center>


  </main>


  
<%- include  ../partials/bottom_nav.ejs %>


<%- include  ../partials/footer.ejs %> 