<%- include  ../partials/header.ejs %>



<%- include  ../partials/main_nav.ejs %>




<main class = "container">
<div class="jumbotron">
<p class="text-white bg-dark"> <---------------Services We Provide---------------> </p>
  <h1 class="display-4"> <img src="Assets\images\Big-data.jpg" width="300" alt=""> Big Data(Python)</h1>  
  </div>

  <div class="jumbotron">
  <h1 class="display-4"> <img src="Assets\images\IOT.jpg" width="300" alt=""> Internet Of Things</h1>  
  </div>

    <div class="jumbotron">
  <h1 class="display-4"> <img src="Assets\images\Web development.jpeg" width="300" alt=""> Web Application Development</h1>  
  </div>

    <div class="jumbotron">
  <h1 class="display-4"> <img src="Assets\images\Cyber-Security.jpeg" width="300" alt=""> Cyber Security</h1>

  <center><a href = "/projects" right> Previous </a></p><p><a href = "/contact"> Next</a></p></center>  
  </div>

  

  </main>


    
<%- include  ../partials/bottom_nav.ejs %>


<%- include  ../partials/footer.ejs %> 